.Header {
  text-align: center;
  color: white;
  background-color: purple;
}

.Roster{
  text-align: center;
  color: black;
  font-size: 24px;
}

.Player-List{
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Player-List li {
  margin-right: 30px;
  /* Additional styling properties */
}

.Schedule {
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.Player-List li img{
  max-width: 200px;
  max-height: 200px;
}

